.service {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #7ebfd9;
}

.service h3 {
    margin: 0 0.25rem 0.25rem 0;
}

.description {
    font-style: italic;
    text-align: justify;
    width: 90%;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}