.summary {
    text-align: justify;
    max-width: 40rem;
    width: 85%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: rgb(69, 94, 104);
    color: #fcfcd0;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
}