.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #317e9c;
    color: #fcfcd0;
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover,
.button:active {
    background-color: #0f455b;
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}

.total {
    background-color: #7ebfd9;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

.button:hover .total,
.button:active .total {
    background-color: #ad5502;
}

.wiggle {
    animation: wiggle 2s linear 300ms;
    background-color: #0f455b;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}