.feedback {
    font-size: larger;
    text-align: justify;
    padding: 1rem;
}

.line {
    background-color: #8a2b06;
    border-radius: 14px;
    padding: 0.2rem;
    width: 25%;
    margin: auto;
}

.name {
    text-align: center;
    color: #8a2b06;
    padding-bottom: 1rem;
}

.date {
    text-align: end;
    padding: 1rem;
}